/env
/keys
/logs
/tests
/src/__pycache__

/src/database/__pycache__
/src/database/queries/__pycache__

/src/gui/__pycache__
/src/gui/components/__pycache__

/src/security/__pycache__

/src/utils/__pycache__

/src/components/__pycache__
.env